
<!DOCTYPE html>
<html>
  <head>
    <title>iepngs.cc</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Like the cats in the lane, I am freedom, but no home.</p>
  </body>
</html>
<!--<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>-->
